// green
$lightest-green: hsl(142, 81%, 94%);
$lighter-green: hsl(141, 67%, 80%);
$light-green: hsl(146, 57%, 65%);
$green: hsl(145, 55%, 48%);
$dark-green: hsl(146, 63%, 38%);
$darker-green: hsl(146, 65%, 28%);
$darkest-green: hsl(155, 60%, 20%);

// yellow
$lightest-yellow: hsl(44, 100%, 98%);
$lighter-yellow: hsl(44, 86%, 91%);
$light-yellow: hsl(44, 90%, 80%);
$yellow: hsl(42, 87%, 67%);
$dark-yellow: hsl(44, 57%, 52%);
$darker-yellow: hsl(43, 64%, 34%);
$darkest-yellow: hsl(44, 66%, 22%);

// red
$lightest-red: hsl(0, 71%, 95%);
$lighter-red: hsl(0, 76%, 81%);
$light-red: hsl(0, 69%, 64%);
$red: hsl(0, 70%, 52%);
$dark-red: hsl(0, 70%, 42%);
$darker-red: hsl(0, 67%, 32%);
$darkest-red: hsl(0, 60%, 24%);

// aquamarine
$lightest-aqua: hsl(178, 100%, 95%);
$lighter-aqua: hsl(177, 67%, 80%);
$light-aqua: hsl(178, 57%, 64%);
$aqua: hsl(174, 49%, 46%);
$dark-aqua: hsl(174, 55%, 37%);
$darker-aqua: hsl(174, 59%, 25%);
$darkest-aqua: hsl(179, 59%, 17%);

// blue
$lightest-blue: hsl(206, 100%, 97%);
$lighter-blue: hsl(206, 79%, 81%);
$light-blue: hsl(208, 60%, 62%);
$blue: hsl(207, 61%, 48%);
$dark-blue: hsl(207, 64%, 39%);
$darker-blue: hsl(208, 63%, 27%);
$darkest-blue: hsl(207, 53%, 15%);

// grey scale
$lighter-grey: hsl(216, 33%, 97%);
$light-grey: hsl(210, 29%, 95%);
$grey: hsl(215, 41%, 87%);
$dark-grey: hsl(214, 20%, 48%);
$darker-grey: hsl(213, 56%, 16%);

$grey-900: hsl(0, 0%, 9%);
$grey-800: hsl(0, 0%, 16%);
$grey-700: hsl(0, 0%, 22%);
$grey-600: hsl(0, 0%, 27%);
$grey-500: hsl(0, 0%, 35%);
$grey-400: hsl(0, 0%, 43%);
$grey-300: hsl(0, 0%, 49%);
$grey-200: hsl(0, 0%, 56%);
$grey-100: hsl(0, 0%, 62%);
$grey-50: hsl(0, 0%, 67%);

$coolgrey-900: #161d24;
$coolgrey-800: #232c34;
$coolgrey-700: #2b353e;
$coolgrey-600: #39434c;
$coolgrey-500: #444d57;
$coolgrey-400: #565e67;
$coolgrey-300: #6b737c;
$coolgrey-200: #8e9397;
$coolgrey-100: #9fa1a4;
$coolgrey-50: #abacaf;

$warmgrey-900: hsl(43, 15%, 9%);
$warmgrey-800: hsl(42, 12%, 16%);
$warmgrey-700: hsl(38, 11%, 20%);
$warmgrey-600: hsl(44, 9%, 25%);
$warmgrey-500: hsl(42, 8%, 34%);
$warmgrey-400: hsl(38, 5%, 43%);
$warmgrey-300: hsl(38, 4%, 48%);
$warmgrey-200: hsl(42, 4%, 56%);
$warmgrey-100: hsl(48, 3%, 63%);
$warmgrey-50: hsl(40, 2%, 68%);

$blue-900: hsl(210, 62%, 11%);
$blue-800: hsl(211, 40%, 16%);
$blue-700: hsl(211, 34%, 21%);
$blue-600: hsl(208, 29%, 27%);
$blue-500: hsl(210, 22%, 34%);
$blue-400: hsl(211, 15%, 42%);
$blue-300: hsl(211, 12%, 49%);
$blue-200: hsl(211, 10%, 56%);
$blue-100: hsl(210, 7%, 62%);
$blue-50: hsl(216, 3%, 67%);
