

// colors
$bg-color: hsl(0, 0, 8%); // background color
$bg-color-light: hsl(0, 0, 90%);

// font sizes
$xm-font: 12px;
$sm-font: 14px;
$md-font: 16px;
$lg-font: 20px;
$xl-font: 24px;
$xxl-font: 28px;

$navbar-height: 60px;

//side drawer
$drawer-width: 200px;

// footer
$footer-height: 80px;

// timeline variables
$timepiece-width: 400px;
$timepiece-offset: 25px;
$timepiece-mb: 2.3rem;
$timepiece-line-color: white;